.search-bar {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.search-bar form {
    display: flex;
    flex-direction:  column;
}

.search-bar button {
    border: 1px solid gray;
    border-radius: 3px;
}